.carousel {
  overflow: hidden;
  /* background-color: beige; */
}

.inner {
  white-space: nowrap;
  transition: transform 0.3s;
  /* background-color: #00ffff; */
}

.carousel-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.indicators {
  display: flex;
  justify-content: center;
  /* height: 25px; */
  margin-bottom: 10px;
}

.indicators > button {
  margin: 5px;
}

.indicators > button.active {
  background-color: green;
  color: #fff;
}

/* .arrow {
  position: absolute;
  top: 50%;
}

.right {
  right: 0;
  margin-right: 5px;
}

.left {
  left: 0;
  margin-left: 5px;
} */
