/* .carousel {
  overflow: hidden;
}

.inner {
  white-space: nowrap;
  transition: transform 0.3s;
}

.carousel-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  margin: 50px;
  background-color: rgb(222, 220, 220);
}

.indicators {
  display: flex;
  justify-content: center;
}

.indicators > button {
  margin: 5px;
}

.indicators > button.active {
  background-color: rgb(31, 98, 165);
  color: #fff;
} */

.arrow {
  position: absolute;
  top: 50%;
}

.right {
  right: 0;
  margin-right: 5px;
}

.left {
  left: 0;
  margin-left: 5px;
}
